:root {
    --hover-color: yellow;
    --main-color: rgb(50,50,50);
    --secondary-color: red;
    --line-color: lightgray;
}

::selection {
    background: #fa4299;
    color: #fff;
}

/* START of image container CSS */

/* Styling for container of main-image and side-images */
.images {
    margin: 10px 0;
    /* height: 500px; */

    display: flex;
    flex-direction: row;

}

/* Container for small-image */
.side-images {
    width: 40px;

    float: left;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Styling for image */
.small-image {
    cursor: pointer;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid black;
    height:40px;
    width: 40px;
    object-fit: contain;
}

.small-image:hover {
    transform: scale(1.1);
}

/* Container for active-image */
.main-image {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* Styling for image */
.active-image {
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

/* END of image container CSS */

.hidden {
    display: none;
}

.invisible {
    color: transparent;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    grid-area: header;

    padding: 10px;
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;

}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.7em;
    font-weight: 100;    
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav li {
    margin: 0 5px;
}

header a {
    color: white;
    text-decoration: none;
    padding: 3px
}

header a:hover {
    color: var(--hover-color);
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 3px
}

main {
    grid-area: main;
    background-color: gainsboro;
}

footer {
    grid-area: footer;
}