:root {
    --hover-color: #1265c7;
    --main-color: #181818;
    --background-color: #2b2b2b;
    --secondary-color: #1b72d9;
    --text-color: gainsboro;
    --line-color: lightgray;
}

::selection {
    background: var(--secondary-color);
    color: #fff;
}

/* START of image container CSS */

/* Styling for container of main-image and side-images */
.images {
    margin: 10px 0;
    /* height: 500px; */

    display: flex;
    flex-direction: row;

}

/* Container for small side images */
.side-images {
    width: 40px;

    float: left;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Styling for side image */
.small-image {
    cursor: pointer;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid black;
    height:40px;
    width: 40px;
    object-fit: contain;
}

.small-image:hover {
    transform: scale(1.1);
}

/* Container for primary image */
.main-image {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

/* Styling for primary image */
.active-image {
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

/* END of image container CSS */

.hidden {
    display: none;
}

.invisible {
    color: transparent;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    grid-area: header;

    padding: 10px;
    background-color: var(--main-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;

}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.7em;
    font-weight: 100;    
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

header nav li {
    margin: 0 5px;
}

header a {
    color: var(--text-color);
    text-decoration: none;
    padding: 3px
}

header a:hover {
    color: var(--secondary-color);
}

.nav-link {
    text-decoration: none;
    padding: 3px;
}

main {
    grid-area: main;
    flex:2;
    background-color: var(--background-color);
    color: var(--text-color);
}

footer {
    grid-area: footer;
    background-color: var(--main-color);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-color);
    padding: 10px 0;
    z-index: 1;
}
  
.dropdown-content a:hover {
    color: var(--secondary-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Global styling */

.black-text {
    color: black;
}

.secondary-text {
    color: var(--secondary-color);
}

.white-text {
    color: var(--white-text);
}

.primary-text {
    color: var(--text-color);
}

.container {
    width: 100%;
}

.hflex {
    display: flex;
    flex-direction: row;
}

.vflex {
    display: flex;
    flex-direction: column;
}

.vcenter {
    align-items: center;
}

.left-align {
    align-items: left;
}

.textbox {
    max-width: 250px;
    padding: 5px;
    box-sizing: border-box;
}

.form-item {
    margin-bottom: 10px;
}

.submit {
    color: var(--text-color);
    padding: 5px 10px 5px 10px;
    background-color: var(--secondary-color);
    width: min-content;
    border: none;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 3px;
}

.submit:hover {
    background-color: var(--hover-color);
}

.delete-btn {
    color: var(--text-color);
    padding: 5px 10px 5px 10px;
    background-color: #cd1515;
    width: min-content;
    border: none;
    border-radius: 3px; 
}

.delete-btn:hover {
    background-color: #be1515;
}

.bmargin-10 {
    margin-bottom: 10px;
}

.bmargin-25 {
    margin-bottom: 25px;
}

.margin-20 {
    margin: 20px;
}

.font-1-2 {
    font-size: 1.2em;
}

.select {
    border: none;
    background-color: var(--text-color);
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 5px;
}