main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/*.H-content*/

.H-filter {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: min-content;
}

.search {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.search label {
}

.containQty {
  display: flex;
}

.colorText {
  margin-left: 10px;
}
.padd {
  margin-left: 20px;
}

.H-content {
  background-color: lightgray;
  display: grid;
  flex: 3;
  height: 100%;
}

.item {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 250px;
  width: 100%;
  border-top: 2px solid black;
  color: black;
  text-decoration: none;
}

.main-image {
  height: 100%;
  flex-shrink: 0;
}

.item-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.filter-content {
  display: none;
  list-style: none;
  margin: 5px 0;
  padding: 0;
}

.dropdown {
  display: none;
}

.image {
  height: 100%;
  display: block;
  width: 100%;
}

.item-name {
  text-decoration: none;
  color: black;
  font-size: 1.7em;
}

.description {
}
