:root {
    --hover-color: yellow;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    background-color: grey;
}

header a {
    color: white;
    text-decoration: none;
    padding: 3px
}

header a:hover {
    color: var(--hover-color);
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 3px
}

