
.homepage {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
}

.content, .filter{
height: 90vh;
}

.content{
background-color: lightgray;
width: 80%;
flex: 3;
}

.filter{
    background-color: gray;
    width: 20%;
    flex: 1;
}