
main {
  background-color: #ccffe6;
  display: flex;
  justify-content: center;
}
.container {
  width: 80vw;
  color: black;
}
#info {
  font-size: 18px;
  line-height: 1.5em;
}
.passwordField {
  line-height: 3em;
  font-size: 16px;
}

.underline_title {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.wrapper {
  display: flex;
}

.top-left {
  width: 100%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.left_side {
  width: 50%;
  padding-right: 30%;
  border-bottom: 3px solid black;
}

.right_side {
  width: 50%;
  border-bottom: 3px solid black;
}

.ship_info {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid black;
}

.tbl {
  border-top: 2px solid black;
  border: 1px solid black;
}

.tbl_output {
  width: 25%;
  margin-left: 75%;
  padding-top: 20px;
}

th {
  text-align: left;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px 14px;
}

td {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  padding: 0 10px;
}

.cart-btn {
  padding: 20px;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: rgb(71, 71, 71);
  color: white;
}

.cart-btn:hover {
  background-color: rgb(69, 69, 233);
}

.cn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 5%;
}

.item_text_right {
  width: 100%;
}

.item_text_left {
  left: 100%;
}

.item_text {
  padding-right: 20px;
}

.item_input {
  border-radius: 10px;
  width: 250px;
  font-size: 1.2em;
  border: 2px solid black;
}

.cvc {
  display: flex;
  padding-top: 5%;
}

.cvc_text {
  padding-right: 20px;
}

.date {
  padding-top: 5%;
  display: flex;
  padding-right: 23%;
}

.date_text {
  padding-right: 20px;
}

.date_input {
  border-radius: 10px;
  width: 80px;
  font-size: 1.2em;
  border: 2px solid black;
}

.holder {
  padding-top: 5%;
  display: flex;
}

.holder_text {
  padding-right: 20px;
}

.holder_input {
  border-radius: 10px;
  width: 80px;
  font-size: 1.2em;
  border: 2px solid black;
}

.firstHalf {
  display: flex;
  margin-right: 15px;
}

.secondHalf {
  display: flex;
}

.cvc_input {
  border-radius: 10px;
  font-size: 1em;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}

.tshirt_quantity_input {
  border-radius: 10px;
  font-size: 1.3em;
}

.total {
  display: flex;
  padding-top: 40px;
  justify-content: right;
}

.total_order {
  padding-right: 40px;
}
