body {
  background-color: #ccffe6;
}
.container {
  margin-left: 50px;
}
#info {
  font-size: 18px;
  line-height: 1.5em;
}
.passwordField {
  line-height: 3em;
  font-size: 16px;
}

.payment-section {
  margin-bottom: 2em;
}

h4, p {
  margin: 0;
  padding: 0;
}