body {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
  position: absolute;
}
ul li {
  float: left;
}
li a {
  color: aliceblue;
  display: block;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
}
.active {
  background-color: green;
}
li a:hover {
  background-color: brown;
}
.Homepage {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
}
.H-nav {
  background-color: gray;
  height: 10vh;
  width: 100%;
}
.H-content,
.H-filter {
  height: 90vh;
}
.H-content {
  background-color: lightgray;
  width: 80%;
  display: grid;
  flex: 3;
}
.contain {
  display: flex;
  background-color: red;
  justify-content: space-evenly;
  width: 100%;
}

.shirts {
  background-color: white;
  display: flex;
  height: 100%;
  border: 2px solid black;
}
.image {
  height: 100%;
  display: block;
  width: 100%;
}
.description {
  width: 80%;
  padding: 20px;
}

.shirt-btn {
  width: 80%;
  height: 100%;

  display: flex;
  place-items: center;
  justify-content: center;
}

.button-shirt {
  font-size: 2em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.top {
  font-size: 1.5em;
}
img {
  width: 100%;
  height: 100%;
}

.sweatshirts {
  background-color: white;
  display: flex;
  height: 100%;
  border: 2px solid black;
}

.sweatshirt-image {
  width: 100%;
  display: flex;
  height: 100%;
}
.topSweat {
  font-size: 1.5em;
}

.pants {
  background-color: white;
  display: flex;
  height: 100%;
  border: 2px solid black;
}

.socks {
  background-color: white;
  display: flex;
  height: 100%;
  border: 2px solid black;
}

.H-filter {
  background-color: gray;
  width: 20%;
  flex: 1;
}
