<div class="content">
    <div class="box1">
        <form>
            <label for="imageFile">Image:</label>
            <input type="file" id="imageFile" accept="image/*" multiple><br>

            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title"><br>

            <label for="cars">Size:</label>
            <select name="size" id="size">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="x-large">X-Large</option>
            </select>

            <label for="cars">Color:</label>
            <select name="color" id="color">
                <option value="black">Black</option>
                <option value="red">Red</option>
                <option value="blue">Blue</option>
                <option value="white">White</option>
            </select><br>

            <label for="description">Item Description:</label><br>
            <textarea id="data" style="width: 757px; height: 170px" rows="10" cols="80">{{data}}</textarea><br>

            <label for="quantity">Initial Quantity:</label><br>
            <input type="text" id="quantity" name="quantity"><br>

            <label for="price">Item Price:</label><br>
            <input type="text" id="price" name="price"><br

            <label for="retail">Retail Price:</label><br>
            <input type="text" id="retail" name="retail"><br>

            <label for="wholesale">Wholesale Price:</label><br>
            <input type="text" id="wholesale" name="wholesale"><br>

            <label for="sku">Sku/Item no:</label><br>
            <input type="text" id="sku" name="sku"><br>
        </form>
        <br><button class="add-item">Add item</button></td>
    </div>
</div>