<form action="admin.php" method="get" autocomplete="off">
    <select name="store">
        <option name="storeID" value="">Select a Store:</option>
        {% for store in stores %}
        {% if store.id == selectedStoreID %}
        <option name="storeID" value="{{store.id}}" selected>{{store.name}}</option>
        {% else %}
        <option name="storeID" value="{{store.id}}">{{store.name}}</option>
        {% endif %}
        {% endfor %}
    </select>
</form>
<div class="table-container">
      <table class="item-table">
        <tr>
          <th>SKU</th>
          <th>Name</th>
          <th>MSRP ($)</th>
          <th>Purchase Price ($)</th>
          <th>In Stock Qty.</th>
          <th>Incoming Qty.</th>
          <th>Outgoing Qty.</th>
          <th>Update</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        {% for item in items %}
        <form action="includes/updateItemQty.inc.php?itemID={{item.itemID}}&storeID={{selectedStoreID}}" method="post">
            <tr>
                <td class="sku">{{item.itemID}}</td>
                <td class="title">{{item.title}}</td>
                <td class="msrp">{{item.retail_price}}</td>
                <td class="purchase-price">{{item.wholesale_price}}</td>
                <td class="in-stock" ><input type="text" name="quantity" value="{{item.quantity}}" /></td>
                <td class="incoming">0</td>
                <td class="outgoing" contenteditable="true">0</td>
                <td><input type="submit" name="submit" value="Update Item"/></td>
                <td><a href="edit-item.php?id={{item.itemID}}">Edit</a></td>
                <td><a href="includes/removeItem.inc.php?id={{item.itemID}}">Delete</a></td>
            </tr>
        </form>
        {% endfor %}
      </table>
  </div>