<div class="container">
  <div id="info">
    <h1>Create Order</h1>
    <!--<a href="">Update Profle</a>-->
    <div class="tshirt">
      <div class="item">
        <h2 class="item_text">Item of Clothing:</h2>
        <input type="text" class="item_input" />
      </div>

      <div class="color">
        <h2 class="color_text">Color:</h2>
        <input type="text" class="tshirt_input" />
      </div>
      <div class="quantity">
        <h2 class="quantity_text">Quantity to Order:</h2>
        <input type="text" class="tshirt_quantity_input" />
      </div>
      <button class="add">Add</button>
    </div>
  </div>
  <div class="items">
    <h1>Tshirts Quantity = 2</h1>
    <h1>Sweatshirts Quantity = 34</h1>
    <h1>Pants Quantity = 12</h1>
    <h1>Sock Quantity = 17</h1>
    <div class="total">
      <h1 class="total_order">Total = $1285</h1>
      <button class="cart-btn">Order</button>
    </div>
  </div>
</div>
<script src="js/scripts.js"></script>
