<div class="content">
    <div class="box1">
      <div class="order">
            <h5> Order Status: <!--Database status --></h5>
            <p><br>Shipping Address: <!--Database shipping address-->
            <br>Date Placed: <!--Database date --> 
            <br>Expected Arrival: <!--Database date -->
            <div id="button">
                <button type="button" onclick="">Cancel Order</button>
            </div>
            </p>
        </div>
        <div class="itemtable">
            <table>
                <tr>
                    <td>
                        <a class="main-image" href="item.php">
                        <img src="shirtpic.jpg" alt="Shirt Picture" class="active-image" />
                        <!--Item image-->
                        </a>
                    </td>
                    <td>
                        <a href="item.php" class="item-name">T-Shirts</a>
                        <p class="description">
                        <br>Men and Woman's T-Shirts, Casual Fitting and come in many sizes and colors
                        <!--Item description-->
                        </p>
                    </td>
                    <td>
                        <p>Item Price</p>
                        <p>5<!--Show price of item and quantity bougt--></p>
                    </td>
                    <td>
                        <p> Total Price </p>
                        <p>5<!-- Total calculated price of item bought--></p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="box2">
        <div class="billing">
            <p> Billing Address: <!--Database bill address --><br></p>
            <p>123 test street</p>
            <p> Payment Method: <!--Database payment --><br></p>
            <p>debit: *****1234</p>
        </div>
        <div id="button">
            <button type="button" onclick="window.print();return false;">Print Order</button>
        </div>
    </div>
    
</div>