<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Page Title</title>
    <meta name="description" content="My Page Description" />
    <link rel="stylesheet" href="payOrder.css" />
  </head>
  <body>
    <div class="container">
      <div id="info">
        <h1>Order Payment</h1>
        <!--<a href="">Update Profle</a>-->
        <div class="firstHalf">
          <div class="cn">
            <h2 class="item_text">Card Number:</h2>
            <input
              type="text"
              class="item_input"
              placeholder="XXXX XXXX XXXX XXXX"
            />
          </div>

          <div class="cvc">
            <h2 class="cvc_text">CVC:</h2>
            <input type="text" class="cvc_input" placeholder="XXX" />
          </div>
        </div>
        <div class="secondHalf">
          <div class="date">
            <h2 class="date_text">Exp. Date:</h2>
            <input type="text" class="date_input" placeholder="XX/XX" />
          </div>

          <div class="holder">
            <h2 class="holder_text">Card Holder:</h2>
            <input type="text" class="holder_input" placeholder="XXX" />
          </div>
        </div>
      </div>
      <div class="total">
        <h1 class="total_order">Total = $1285</h1>
        <button class="cart-btn">Purchase</button>
      </div>
    </div>
    <script src="js/scripts.js"></script>
  </body>
</html>
