<div class="container">
  <div id="info">
    <h1>Profile</h1>
    <section>
      <table>
        <tr>
          <th>Firstname:</th>
          <td>
            <input type="text" placeholder="John" value="{{user.first_name}}" />
          </td>
        </tr>
        <tr>
          <th>Lastname:</th>
          <td>
            <input type="text" placeholder="Doe" value="{{user.last_name}}" />
          </td>
        </tr>
        <tr>
          <th>Email:</th>
          <td>
            <input
              type="text"
              placeholder="example@email.com"
              value="{{user.email}}"
            />
          </td>
        </tr>
        <tr>
          <th>Account Type:</th>
          <td>
            <p>{{user.type}}</p>
          </td>
        </tr>
      </table>
    </section>
    <div>
      <button
        type="submit"
        name="updateProfileBtn"
        class="btn btn-primary pull-right"
      >
        Update Profile</button
      ><br />
      <!--<a href="">Update Profle</a>-->
    </div>
  </div>

  <div class="passwordField">
    <h1>Password Management</h1>
    <form
      method="post"
      action="includes/changePass.inc.php"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="currentpassword">Current Password</label>
        <input
          type="password"
          name="currPass"
          class="form-control"
          id="currentpassword"
          placeholder="Current Password"
          required
        />
      </div>
      <div class="form-group">
        <label for="newpassword">New Password</label>
        <input
          type="password"
          name="pass"
          class="form-control"
          id="newpassword"
          placeholder="New Password"
          required
        />
      </div>
      <div class="form-group">
        <label for="confirmpassword">Repeat New Password</label>
        <input
          type="password"
          name="rePass"
          class="form-control"
          id="confirmpassword"
          placeholder="Confirm new Password"
          required
        />
      </div>
      <button type="submit" name="submit" class="btn btn-primary pull-right">
        Change Password
      </button>
      <br />
    </form>
  </div>

  <div class="payment-container">
    <div class="payment">
      <h1>Payments</h1>
      {% for key,payment in payments %}
      <h3>Payment Method {{key + 1}}</h3>

      <div class="payment-section">
        <h4>Primary Account Number (last 4)</h4>
        <p>{{payment.pan}}</p>
      </div>

      <div class="payment-section">
        <h4>Billing Address</h4>
        <p>{{payment.address.street1}}</p>
        <p>{{payment.address.street2}}</p>
        <p>
          {{payment.address.city}}, {{payment.address.state}}
          {{payment.address.zipCode}} {{payment.address.country}}
        </p>
        <p>{{payment.address.phone}}</p>
      </div>

      <div class="payment-section">
        <h4>Name on Account</h4>
        <p>{{payment.name}}</p>
      </div>

      <form action="includes/removePayment.inc.php" method="post">
        <input type="submit" name="submit" value="Remove Payment" />
      </form>
      {% endfor %}
      <h2>Add New Payment Method</h2>
      <form action="includes/addPayment.inc.php" method="post">
        <input type="text" name="pan" placeholder="Account Number" required />
        <input type="text" name="code" placeholder="Security Code" required />
        <input type="text" name="name" placeholder="Name on Account" required />
        <input type="text" name="street1" placeholder="Address 1" required />
        <input type="text" name="street2" placeholder="Address 2" />
        <input type="text" name="city" placeholder="City" required />
        <input type="text" name="state" placeholder="State" required />
        <input type="text" name="zip" placeholder="Zip Code" required />
        <input type="text" name="country" placeholder="Country" required />
        <input type="text" name="phone" placeholder="Phone Number" required />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>

  <div class="address-container">

    <h1>Addresses</h1>
    {% for key, address in addresses %}
    <div class="address">
      <h4>Address: {{address.nickname}}</h4>
        <p>{{address.name}}</p>
        <p>{{address.street1}}</p>
        <p>{{address.street2}}</p>
        <p>
          {{address.city}}, {{address.state}}
          {{address.zipCode}} {{address.country}}
        </p>
        <p>{{address.phone}}</p>

      <form action="includes/removeAddress.inc.php?id={{address.id}}" method="post">
        <input type="submit" name="submit" value="Remove Address" />
      </form>
    </div>
    {% endfor %}

    <h3>Add an Address</h3>
    <form action="includes/addAddress.inc.php" method="post">
      <input type="text" name="nickname" placeholder="Nickname" required />
      <input type="text" name="name" placeholder="Name" required />
      <input type="text" name="street1" placeholder="Address 1" required />
      <input type="text" name="street2" placeholder="Address 2" />
      <input type="text" name="city" placeholder="City" required />
      <input type="text" name="state" placeholder="State" required />
      <input type="text" name="zip" placeholder="Zip Code" required />
      <input type="text" name="country" placeholder="Country" required />
      <input type="text" name="phone" placeholder="Phone Number" required />
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
