<div class="container">
    <div class="box1">
        <h1>My Orders</h1>
        <table>
            <tr>
                <th>Order #</th>
                <th>Date</th>
                <th>Shipping Status</th>
                <th>Order Price</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>#000001<!--Datbase Order #--></td>
                <td>10/20/2022<!--Dataase Date--></td>
                <td>On route<!--Dataase Status--></td>
                <td>$100.00<!--Dataase Price--></td>
                <td><button class="cart-btn">View Order</button></td>
            </tr>
        </table>
    </div>
</div>